a
  text-decoration: none

  color: #FFFFFF

body
  margin: 0
  padding: 0

  color: #FFFFFF

  font-family: 'Roboto' !important

button
  display: flex
  align-items: center
  justify-content: center

  padding: 0

  cursor: pointer

  border: none
  outline: none
  background: none

  font-family: 'Roboto'

section
  & > .title
    margin-top: 0
    margin-bottom: .75em

    color: #7A7A7A

    font-weight: 400
