@import 'font'
@import 'color'
@import 'mixin'
@import 'media'
@import 'shadow'

a
  text-decoration: none

  color: #FFFFFF

body
  margin: 0
  padding: 0

  color: #FFFFFF

  font-family: 'Roboto' !important

button
  display: flex
  align-items: center
  justify-content: center

  padding: 0

  cursor: pointer

  border: none
  outline: none
  background: none

  font-family: 'Roboto'

section > .title
  margin: 0 0 0
  padding: .75rem 1rem

  color: #7A7A7A
  background-color: #F5F5F5

  font-weight: 400

section > .content
  color: #7A7A7A
  background-color: #FFFFFF

input
  width: %100

  border: none
  outline: none
  background-color: transparent

  font-size: $f-medium

  &::placeholder
    color: c-gray(600)

p
  margin: 0

table
  width: 100%

  border-spacing: 0

  td
    padding: .75rem 1rem
  
  td.key
    width: 50%

    color: #000000

ul
  margin: 0
  padding: 0

  list-style: none

.card
  overflow: hidden

  border-radius: 2px
  background-color: #FFFFFF

  .card-content
    padding: 1em

.empty
  margin: 1rem 0

  text-align: center

  color: #7A7A7A

.background-image
  background-position: center
  background-size: cover
